<head>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    type="text/css">
   

        

</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">

            <div class="header item">Blogsite</div>
        
        <a href="/blogs/home" class="item">
          Home
        </a>
        <a href="/blogs" class="item">
          My Blogs
        </a>
        <a href="/blogs/new" class="item">
          New blog
        </a>
        
              
            </div>
          </div>
        </div>
        </div>
    </div>
    <br><br><br>
</body>