<head>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    type="text/css">
    <style>
      h3{
        color: white;
        font-family: cursive;
      }
    </style>
   

        

</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">

            <div class="header item">Blogsite</div>
        
        <a href="/home" class="item">
          Home
        </a>
        <a href="/blogs" class="item">
          My Blogs
        </a>
        <a href="/blogs/new" class="item">
          New blog
        </a>
        <div class="right menu">
          <%if(!currentuser){%>

          <a href="/login" class="item">
          Login</a>
          <a href="/register" class="item">
            Signup
          </a>
       <% } else{%>

       <li><a href="#" >Welcome <%=currentuser.username %></a></li>li>
        <a href="/logout" class="item">
          Logout</a>
       <% }%>
        </div>
        
              
            </div>
          </div>
        </div>
        </div>
    </div>
    <br><br><br>
</body>
