<%- include ('partials/header') %>
<style>
 

</style>
<body>
   
    <div class="ui segment">
    <img class="ui centered  massive image"  name="book" style="width:100%; height:70%;" src="https://www.popsci.com/resizer/L0xYUnmXfBgWk1cWX7Yv1aRjMXI=/760x456/filters:focal(521x313:522x314)/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/GCFXP5Y4EQEZFRNO2C3KLOYTTI.jpg">
    </div>
    <%- include ('partials/footer') %>

</body>

