<head>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    type="text/css">
  
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">

            <div class="header item">Blogsite</div>
    <div class="right menu">
        <a href="/login" class="item">
        Login</a>
        <a href="/register" class="item">
          Signup
        </a>
      
      <a href="/logout" class="item">
        Logout</a>
      </div>
        </div>
    </div><br><br><br>
    
   

<div class="ui main text container">
    <div class="ui huge header">
        Login
    </div>
    <form class="ui form " action="/login" method="POST">
        
            <label>Username</label>
        <input type="text" name="username" placeholder="username" required ><br><br>
        
            <label>Password</label>
            <input type="text" name="password" placeholder="username" required><br><br>
    
        
        <input class="ui violet big basic button" type="submit" value="Login">
        </div>

    </form>
    
</div>



</body>
